.main{
    /*background-image: url('../../images/school.jpg');*/
    background-color: rgba(24, 1, 1, 0.829);
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
    width: auto;
    
}


#img-logo{
    margin-top: -35px;
    margin-left: 50px;
    height: 200px;
}

.content{
    display: flex;
    color: white;
    justify-content: space-around;
}

.container-tec-logo{
    margin-top: -20px;
}


#tec-logo{
    width: 350px;
    border-radius: 50%;
    margin-left: 100px;
    
}

#tec-logo:hover{
    cursor: pointer;
}

#btn-eventos{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10%;
    transition: font-size 0.5s, background-color 0.5s, color 0.5s;
}


#btn-eventos:hover{
    color: black;
    font-size: 18px;
    background-color:#870D0D ;
}